@using Sparkle.Identity.Requests;
@model LoginRequest
<head>
    <link href=@Url.Content("~/wwwroot/styles/app.css") rel="stylesheet" type="text/css" />
</head>
<form asp-controller="Authentication" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div>Login</div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="input" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="input" />
        <span asp-validation-for="Password"></span>
    </div> 
    <div style="display: flex">
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe"></label>
    </div>
    <div>
        <button type="submit" >Sign In</button>
    </div>
    <div>
        @Html.ValidationSummary(true, String.Empty, new { @class = "text-danger" })
    </div>
    <a asp-controller="Authentication" asp-action="Register"
       asp-route-returnUrl="@Model.ReturnUrl">Register</a>
</form>